

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: rgb(245, 245, 52);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  background-image: url("./components/displays/images/Space.jpg") ;
  
  
  height:100vh;
}

.mainPage { 
  display: flex;
  
}

.planets {
  background-image: url("./components/displays/images/main.png") ;
  width: 800px;
  height: 655px;
  background-size: contain;
  opacity: 0.9;
  margin:100px 10px  0 200px;
  padding:  25px;
  border-style: outset;
  border-width: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.side{
  background-image: url("./components/displays/images/side.png");
  background-size: contain;
  width: 355px;
  height:655px;
  opacity: 0.9;
  margin:100px 30px 0px 0px;
  padding: 25px;
  border-style: outset;
  border-width: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.planetLink{
  transition:  1s;
  
}
.planetLink:hover{
  transform: scale(1.3 , 1.3);
  filter: brightness(150%) ;
  border-width: 5px;
  border-color: yellow;
  border-style: double;
  
  -webkit-filter: brightness(150%) ;
  
} 

#sun {
  margin-top: 230px;
  position: absolute;

}




#planet1 {
  position: relative;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: planet1; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 200s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-timing-function: linear;
  animation-name: planet1;
  animation-duration: 200s;
  animation-iteration-count: infinite;
}
#planet1:hover{
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}


#planet2 {
  position: relative;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: planet2; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 150s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-timing-function: linear;
  animation-name: planet2;
  animation-duration: 150s;
  animation-iteration-count: infinite;
}
#planet2:hover{
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

#planet3 {
  margin-top: 230px;
  position: relative;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: planet3; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 40s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-timing-function: linear;
  animation-name: planet3;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}
#planet3:hover{
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

#planet4 {
  margin-top: 25px;
  position: relative;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: planet4; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 80s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-timing-function: linear;
  animation-name: planet4;
  animation-duration: 80s;
  animation-iteration-count: infinite;
}
#planet4:hover{
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}
